<ul class="genres-list">
  <mat-card *ngFor="let concert of concerts$ | async" class="concert-card" routerLink="/concertdetail/{{concert.concertID}}">
    <img mat-card-image src="{{concert.artistPhotoURL}}" alt="Photo of {{concert.artistPhotoURL}}">
    <mat-card-content class="mat-body-2">
      <p>{{concert.concertName}}</p>
    </mat-card-content>
  </mat-card>
</ul>
<button mat-raised-button color="accent" class="mdc-fab mdc-fab--extended" id="back" routerLink="/genretrain">
  <span class="material-icons mdc-fab__icon">navigate_before</span><span>Restart</span>
</button>