<ul>
  <mat-card *ngFor="let artist of artists$ | async" class="artist-card">
    <img mat-card-image src="{{artist.photoURL}}" alt="Photo of {{artist.name}}">
    <mat-card-content>
      <p>{{artist.name}}</p>
      <p>{{artist.genreName}}</p>
    </mat-card-content>
  </mat-card>
</ul>

<button mat-raised-button color="accent" class="mdc-fab mdc-fab--extended" id="back" routerLink="/genretrain">
  <span class="material-icons mdc-fab__icon">navigate_before</span>
</button>

<button mat-raised-button color="accent" class="mdc-fab mdc-fab--extended" id="next" routerLink="/recommendations">
  <span class="material-icons mdc-fab__icon">navigate_next</span>
</button>